/* App.js========================================================================================== */
.app-bar-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: black; */
  width: 200px;
}

.Opslog-logo {
  height: 40px;
  width: 40px;
  margin: 10px;
  margin-left: -15px;
}

/* HomePage.js===================================================================================== */
.Card-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.Card {
  height: fit-content;
  width: 32%;
}

/* .Card-Image {
  width: 100%;
  object-fit: contain;
} */

@media only screen and (max-width: 600px) {
  .Card-Container {
    flex-direction: column;
  }
  .Card {
    width: 100%;
    margin: 10px;
  }
}

/* DataPage=========================================================================================== */
